# DSC 540 

### Week 5 - 6:  Exercises

**Author: Kimberly Cable<br>
Date: 7-09-2022**

**For this assignment you need to complete 8 of the following exercises against this data.**

**Note:** You must select at least two methods from each chapter to perform on one of the datasets. You are welcome to do more methods and you do not have to use the same dataset for all 8 methods.

* Chapter 7
    * Filter out missing data
    * Fill in missing data
    * Remove duplicates
    * Transform data using either mapping or a function
    * Replace values
    * Discretization and Binning
    * Manipulate Strings
* Chapter 8
    * Create hierarchical index
    * Combine and Merge Datasets (you will have to either create a new dataset from your existing data or create a relationship between the data I have provided)
    * Reshape
    * Pivot the data
* Chapter 10
    * Grouping with Dicts/Series
    * Grouping with Functions
    * Grouping with Index Levels
    * Split/Apply/Combine
    * Cross Tabs
* Chapter 11
    * Convert between string and date time
    * Generate date range
    * Frequencies and date offsets
    * Convert timestamps to periods and back
    * Period Frequency conversions

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
try:
    met_df = pd.read_csv("MetObjects.zip")
    
    met_df.info()
except Exception:
    print("There was an error reading the Met Objects file")

C:\Users\Osgiliath\AppData\Local\Temp\ipykernel_9564\556831903.py:2: DtypeWarning: Columns (5,7,10,11,12,13,14,34,35,36,37,38,39,40,41,42,43,44,45,46) have mixed types. Specify dtype option on import or set low_memory=False.
  met_df = pd.read_csv("MetObjects.zip")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 477804 entries, 0 to 477803
Data columns (total 54 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   Object Number            477804 non-null  object
 1   Is Highlight             477804 non-null  bool
 2   Is Timeline Work         477804 non-null  bool
 3   Is Public Domain         477804 non-null  bool
 4   Object ID                477804 non-null  int64
 5   Gallery Number           51776 non-null   object
 6   Department               477804 non-null  object
 7   AccessionYear            474248 non-null  object
 8   Object Name              476113 non-null  object
 9   Title                    448619 non-null  object
 10  Culture                  207379 non-null  object
 11  Period                   90956 non-null   object
 12  Dynasty                  23233 non-null   object
 13  Reign                    11226 non-null   object
 14  Portfolio                23530 non-null   object
 15  Constituent ID           275535 non-null  object
 16  Artist Role              273436 non-null  object
 17  Artist Prefix            275535 non-null  object
 18  Artist Display Name      275535 non-null  object
 19  Artist Display Bio       273436 non-null  object
 20  Artist Suffix            275487 non-null  object
 21  Artist Alpha Sort        275535 non-null  object
 22  Artist Nationality       275535 non-null  object
 23  Artist Begin Date        275535 non-null  object
 24  Artist End Date          275535 non-null  object
 25  Artist Gender            103061 non-null  object
 26  Artist ULAN URL          222021 non-null  object
 27  Artist Wikidata URL      217732 non-null  object
 28  Object Date              463937 non-null  object
 29  Object Begin Date        477804 non-null  int64
 30  Object End Date          477804 non-null  int64
 31  Medium                   470684 non-null  object
 32  Dimensions               402510 non-null  object
 33  Credit Line              477353 non-null  object
 34  Geography Type           59769 non-null   object
 35  City                     32407 non-null   object
 36  State                    2550 non-null    object
 37  County                   8450 non-null    object
 38  Country                  75751 non-null   object
 39  Region                   31360 non-null   object
 40  Subregion                22124 non-null   object
 41  Locale                   15709 non-null   object
 42  Locus                    7493 non-null    object
 43  Excavation               16558 non-null   object
 44  River                    2095 non-null    object
 45  Classification           399598 non-null  object
 46  Rights and Reproduction  24198 non-null   object
 47  Link Resource            477804 non-null  object
 48  Object Wikidata URL      22265 non-null   object
 49  Metadata Date            0 non-null       float64
 50  Repository               477804 non-null  object
 51  Tags                     200400 non-null  object
 52  Tags AAT URL             200400 non-null  object
 53  Tags Wikidata URL        200400 non-null  object
dtypes: bool(3), float64(1), int64(3), object(47)
memory usage: 187.3+ MB

In [3]:
met_df.shape

(477804, 54)

In [4]:
met_df.head()

,Object Number,Is Highlight,Is Timeline Work,Is Public Domain,Object ID,Gallery Number,Department,AccessionYear,Object Name,Title,...,River,Classification,Rights and Reproduction,Link Resource,Object Wikidata URL,Metadata Date,Repository,Tags,Tags AAT URL,Tags Wikidata URL
0,1979.486.1,False,False,False,1,NaN,The American Wing,1979.0,Coin,One-dollar Liberty Head Coin,...,NaN,NaN,NaN,http://www.metmuseum.org/art/collection/search/1,NaN,NaN,"Metropolitan Museum of Art, New York, NY",NaN,NaN,NaN
1,1980.264.5,False,False,False,2,NaN,The American Wing,1980.0,Coin,Ten-dollar Liberty Head Coin,...,NaN,NaN,NaN,http://www.metmuseum.org/art/collection/search/2,NaN,NaN,"Metropolitan Museum of Art, New York, NY",NaN,NaN,NaN
2,67.265.9,False,False,False,3,NaN,The American Wing,1967.0,Coin,Two-and-a-Half Dollar Coin,...,NaN,NaN,NaN,http://www.metmuseum.org/art/collection/search/3,NaN,NaN,"Metropolitan Museum of Art, New York, NY",NaN,NaN,NaN
3,67.265.10,False,False,False,4,NaN,The American Wing,1967.0,Coin,Two-and-a-Half Dollar Coin,...,NaN,NaN,NaN,http://www.metmuseum.org/art/collection/search/4,NaN,NaN,"Metropolitan Museum of Art, New York, NY",NaN,NaN,NaN
4,67.265.11,False,False,False,5,NaN,The American Wing,1967.0,Coin,Two-and-a-Half Dollar Coin,...,NaN,NaN,NaN,http://www.metmuseum.org/art/collection/search/5,NaN,NaN,"Metropolitan Museum of Art, New York, NY",NaN,NaN,NaN

In [5]:
# Statistics on numerical data
met_df.describe()

           Object ID  Object Begin Date  Object End Date  Metadata Date
count  477804.000000      477804.000000    477804.000000            0.0
mean   387582.167811        1294.064014      1395.139137            NaN
std    237374.736434        1776.237922      1154.075159            NaN
min         1.000000     -400000.000000   -240000.000000            NaN
25%    210119.750000        1529.000000      1582.000000            NaN
50%    371186.500000        1800.000000      1836.000000            NaN
75%    563883.250000        1890.000000      1905.000000            NaN
max    860873.000000        5000.000000     15335.000000            NaN

In [6]:
# Statistics on non-numerical data
met_df.describe(include = 'O')

,Object Number,Gallery Number,Department,AccessionYear,Object Name,Title,Culture,Period,Dynasty,Reign,...,Excavation,River,Classification,Rights and Reproduction,Link Resource,Object Wikidata URL,Repository,Tags,Tags AAT URL,Tags Wikidata URL
count,477804,51776,477804,474248.0,476113,448619,207379,90956,23233,11226,...,16558,2095,399598,24198,477804,22265,477804,200400,200400,200400
unique,474872,609,19,280.0,28449,239091,7180,1873,403,389,...,404,229,1212,1415,477804,22213,1,44830,44370,44564
top,62.635,774,Drawings and Prints,1963.0,Print,Terracotta fragment of a kylix (drinking cup),American,Edo period (1615–1868),Dynasty 18,reign of Amenhotep III,...,MMA excavations,Upper Sepik River,Prints,"© Walker Evans Archive, The Metropolitan Museu...",http://www.metmuseum.org/art/collection/search/1,https://www.wikidata.org/wiki/Q97732991,"Metropolitan Museum of Art, New York, NY",Flowers,http://vocab.getty.edu/page/aat/300132399,https://www.wikidata.org/wiki/Q506
freq,4,7054,167152,34280.0,99439,6415,28381,9084,7194,2760,...,2457,362,80981,7314,1,17,477804,8359,8359,8359

In [7]:
# Create a copy of the data for cleaning purposes
met_cleaned = met_df.copy()

### Chapter 7

#### Find Missing Data

In [8]:
# Count of empty cells in features
met_cleaned.isnull().sum()

Object Number                   0
Is Highlight                    0
Is Timeline Work                0
Is Public Domain                0
Object ID                       0
Gallery Number             426028
Department                      0
AccessionYear                3556
Object Name                  1691
Title                       29185
Culture                    270425
Period                     386848
Dynasty                    454571
Reign                      466578
Portfolio                  454274
Constituent ID             202269
Artist Role                204368
Artist Prefix              202269
Artist Display Name        202269
Artist Display Bio         204368
Artist Suffix              202317
Artist Alpha Sort          202269
Artist Nationality         202269
Artist Begin Date          202269
Artist End Date            202269
Artist Gender              374743
Artist ULAN URL            255783
Artist Wikidata URL        260072
Object Date                 13867
Object Begin Date               0
Object End Date                 0
Medium                       7120
Dimensions                  75294
Credit Line                   451
Geography Type             418035
City                       445397
State                      475254
County                     469354
Country                    402053
Region                     446444
Subregion                  455680
Locale                     462095
Locus                      470311
Excavation                 461246
River                      475709
Classification              78206
Rights and Reproduction    453606
Link Resource                   0
Object Wikidata URL        455539
Metadata Date              477804
Repository                      0
Tags                       277404
Tags AAT URL               277404
Tags Wikidata URL          277404
dtype: int64

In [9]:
# Drop all columns containing less that 80% of valid data
percent = 0.80
min_count = int(((100 - percent) / 100) * met_cleaned.shape[1] + 1)
met_cleaned = met_cleaned.dropna(axis = 1, thresh = min_count)
met_cleaned.shape

(477804, 53)

In [10]:
met_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 477804 entries, 0 to 477803
Data columns (total 53 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   Object Number            477804 non-null  object
 1   Is Highlight             477804 non-null  bool
 2   Is Timeline Work         477804 non-null  bool
 3   Is Public Domain         477804 non-null  bool
 4   Object ID                477804 non-null  int64
 5   Gallery Number           51776 non-null   object
 6   Department               477804 non-null  object
 7   AccessionYear            474248 non-null  object
 8   Object Name              476113 non-null  object
 9   Title                    448619 non-null  object
 10  Culture                  207379 non-null  object
 11  Period                   90956 non-null   object
 12  Dynasty                  23233 non-null   object
 13  Reign                    11226 non-null   object
 14  Portfolio                23530 non-null   object
 15  Constituent ID           275535 non-null  object
 16  Artist Role              273436 non-null  object
 17  Artist Prefix            275535 non-null  object
 18  Artist Display Name      275535 non-null  object
 19  Artist Display Bio       273436 non-null  object
 20  Artist Suffix            275487 non-null  object
 21  Artist Alpha Sort        275535 non-null  object
 22  Artist Nationality       275535 non-null  object
 23  Artist Begin Date        275535 non-null  object
 24  Artist End Date          275535 non-null  object
 25  Artist Gender            103061 non-null  object
 26  Artist ULAN URL          222021 non-null  object
 27  Artist Wikidata URL      217732 non-null  object
 28  Object Date              463937 non-null  object
 29  Object Begin Date        477804 non-null  int64
 30  Object End Date          477804 non-null  int64
 31  Medium                   470684 non-null  object
 32  Dimensions               402510 non-null  object
 33  Credit Line              477353 non-null  object
 34  Geography Type           59769 non-null   object
 35  City                     32407 non-null   object
 36  State                    2550 non-null    object
 37  County                   8450 non-null    object
 38  Country                  75751 non-null   object
 39  Region                   31360 non-null   object
 40  Subregion                22124 non-null   object
 41  Locale                   15709 non-null   object
 42  Locus                    7493 non-null    object
 43  Excavation               16558 non-null   object
 44  River                    2095 non-null    object
 45  Classification           399598 non-null  object
 46  Rights and Reproduction  24198 non-null   object
 47  Link Resource            477804 non-null  object
 48  Object Wikidata URL      22265 non-null   object
 49  Repository               477804 non-null  object
 50  Tags                     200400 non-null  object
 51  Tags AAT URL             200400 non-null  object
 52  Tags Wikidata URL        200400 non-null  object
dtypes: bool(3), int64(3), object(47)
memory usage: 183.6+ MB

- It looks like the Metadata Date was dropped.

#### Manipulate Strings

##### Just keep search number in Link Resource since the URL is the same in all

In [11]:
met_cleaned['Link Resource'][100:120]

100    http://www.metmuseum.org/art/collection/search...
101    http://www.metmuseum.org/art/collection/search...
102    http://www.metmuseum.org/art/collection/search...
103    http://www.metmuseum.org/art/collection/search...
104    http://www.metmuseum.org/art/collection/search...
105    http://www.metmuseum.org/art/collection/search...
106    http://www.metmuseum.org/art/collection/search...
107    http://www.metmuseum.org/art/collection/search...
108    http://www.metmuseum.org/art/collection/search...
109    http://www.metmuseum.org/art/collection/search...
110    http://www.metmuseum.org/art/collection/search...
111    http://www.metmuseum.org/art/collection/search...
112    http://www.metmuseum.org/art/collection/search...
113    http://www.metmuseum.org/art/collection/search...
114    http://www.metmuseum.org/art/collection/search...
115    http://www.metmuseum.org/art/collection/search...
116    http://www.metmuseum.org/art/collection/search...
117    http://www.metmuseum.org/art/collection/search...
118    http://www.metmuseum.org/art/collection/search...
119    http://www.metmuseum.org/art/collection/search...
Name: Link Resource, dtype: object

In [12]:
# Split out URL and only keep the last node 
met_cleaned['Link Resource Num'] = met_cleaned['Link Resource'].apply(lambda x: x.split('/')[-1])

# Drop original column
met_cleaned.drop(['Link Resource'], axis = 1, inplace = True)

# Check
met_cleaned.head()

,Object Number,Is Highlight,Is Timeline Work,Is Public Domain,Object ID,Gallery Number,Department,AccessionYear,Object Name,Title,...,Excavation,River,Classification,Rights and Reproduction,Object Wikidata URL,Repository,Tags,Tags AAT URL,Tags Wikidata URL,Link Resource Num
0,1979.486.1,False,False,False,1,NaN,The American Wing,1979.0,Coin,One-dollar Liberty Head Coin,...,NaN,NaN,NaN,NaN,NaN,"Metropolitan Museum of Art, New York, NY",NaN,NaN,NaN,1
1,1980.264.5,False,False,False,2,NaN,The American Wing,1980.0,Coin,Ten-dollar Liberty Head Coin,...,NaN,NaN,NaN,NaN,NaN,"Metropolitan Museum of Art, New York, NY",NaN,NaN,NaN,2
2,67.265.9,False,False,False,3,NaN,The American Wing,1967.0,Coin,Two-and-a-Half Dollar Coin,...,NaN,NaN,NaN,NaN,NaN,"Metropolitan Museum of Art, New York, NY",NaN,NaN,NaN,3
3,67.265.10,False,False,False,4,NaN,The American Wing,1967.0,Coin,Two-and-a-Half Dollar Coin,...,NaN,NaN,NaN,NaN,NaN,"Metropolitan Museum of Art, New York, NY",NaN,NaN,NaN,4
4,67.265.11,False,False,False,5,NaN,The American Wing,1967.0,Coin,Two-and-a-Half Dollar Coin,...,NaN,NaN,NaN,NaN,NaN,"Metropolitan Museum of Art, New York, NY",NaN,NaN,NaN,5

##### Object Wikidata URL: just keep object wiki since the URL is the same

In [13]:
met_cleaned.loc[met_cleaned['Object Wikidata URL'].notnull()].head()

,Object Number,Is Highlight,Is Timeline Work,Is Public Domain,Object ID,Gallery Number,Department,AccessionYear,Object Name,Title,...,Excavation,River,Classification,Rights and Reproduction,Object Wikidata URL,Repository,Tags,Tags AAT URL,Tags Wikidata URL,Link Resource Num
34,04.1a–c,True,True,False,35,706,The American Wing,1904.0,Vase,The Adams Vase,...,NaN,NaN,NaN,NaN,https://www.wikidata.org/wiki/Q83545838,"Metropolitan Museum of Art, New York, NY",Animals|Garlands|Birds|Men,http://vocab.getty.edu/page/aat/300249525|http...,https://www.wikidata.org/wiki/Q729|https://www...,35
123,Inst.68.4.1,False,False,False,132,738,The American Wing,NaN,Architectural elements,"Architectural elements from Halsted House, Rye...",...,NaN,NaN,NaN,NaN,https://www.wikidata.org/wiki/Q96358236,"Metropolitan Museum of Art, New York, NY",NaN,NaN,NaN,132
162,41.111,False,True,True,193,712,The American Wing,1941.0,Armchair,Turned armchair,...,NaN,NaN,NaN,NaN,https://www.wikidata.org/wiki/Q83545839,"Metropolitan Museum of Art, New York, NY",NaN,NaN,NaN,193
167,51.12.2,True,True,True,200,708,The American Wing,1951.0,Armchair,Spindle-back armchair,...,NaN,NaN,NaN,NaN,https://www.wikidata.org/wiki/Q29382862,"Metropolitan Museum of Art, New York, NY",NaN,NaN,NaN,200
177,1984.287,False,True,True,212,752,The American Wing,1984.0,Armchair,Armchair,...,NaN,NaN,NaN,NaN,https://www.wikidata.org/wiki/Q83560000,"Metropolitan Museum of Art, New York, NY",NaN,NaN,NaN,212

In [14]:
# Fil in empty rows with Unknown
met_cleaned['Object Wikidata URL'] = met_cleaned['Object Wikidata URL'].fillna('Unknown')

# Split out URL and only keep the last node 
met_cleaned['Object Wiki'] = met_cleaned['Object Wikidata URL'].apply(lambda x: x.split('/')[-1])

# Drop original column
met_cleaned.drop(['Object Wikidata URL'], axis = 1, inplace = True)

# Check
met_cleaned.loc[met_cleaned['Object Wiki'] != 'Unknown'].head()

,Object Number,Is Highlight,Is Timeline Work,Is Public Domain,Object ID,Gallery Number,Department,AccessionYear,Object Name,Title,...,Excavation,River,Classification,Rights and Reproduction,Repository,Tags,Tags AAT URL,Tags Wikidata URL,Link Resource Num,Object Wiki
34,04.1a–c,True,True,False,35,706,The American Wing,1904.0,Vase,The Adams Vase,...,NaN,NaN,NaN,NaN,"Metropolitan Museum of Art, New York, NY",Animals|Garlands|Birds|Men,http://vocab.getty.edu/page/aat/300249525|http...,https://www.wikidata.org/wiki/Q729|https://www...,35,Q83545838
123,Inst.68.4.1,False,False,False,132,738,The American Wing,NaN,Architectural elements,"Architectural elements from Halsted House, Rye...",...,NaN,NaN,NaN,NaN,"Metropolitan Museum of Art, New York, NY",NaN,NaN,NaN,132,Q96358236
162,41.111,False,True,True,193,712,The American Wing,1941.0,Armchair,Turned armchair,...,NaN,NaN,NaN,NaN,"Metropolitan Museum of Art, New York, NY",NaN,NaN,NaN,193,Q83545839
167,51.12.2,True,True,True,200,708,The American Wing,1951.0,Armchair,Spindle-back armchair,...,NaN,NaN,NaN,NaN,"Metropolitan Museum of Art, New York, NY",NaN,NaN,NaN,200,Q29382862
177,1984.287,False,True,True,212,752,The American Wing,1984.0,Armchair,Armchair,...,NaN,NaN,NaN,NaN,"Metropolitan Museum of Art, New York, NY",NaN,NaN,NaN,212,Q83560000

##### Tags AAT URL: just keep AAT number since the URL is the same

In [15]:
pd.set_option('display.max_colwidth', None)
met_cleaned['Tags AAT URL']

0                                               NaN
1                                               NaN
2                                               NaN
3                                               NaN
4                                               NaN
                            ...
477799    http://vocab.getty.edu/page/aat/300185335
477800    http://vocab.getty.edu/page/aat/300185335
477801                                          NaN
477802    http://vocab.getty.edu/page/aat/300185335
477803    http://vocab.getty.edu/page/aat/300185335
Name: Tags AAT URL, Length: 477804, dtype: object

In [16]:
# Fill empty rows with Unknown
met_cleaned['Tags AAT URL'] = met_cleaned['Tags AAT URL'].fillna('Unknown')

# Split out URL and only keep the last node
met_cleaned['Tags AAT'] = met_cleaned['Tags AAT URL'].apply(lambda x: x.split('/')[-1])

# Drop original column
met_cleaned.drop(['Tags AAT URL'], axis = 1, inplace = True)

# Check
met_cleaned['Tags AAT']

0           Unknown
1           Unknown
2           Unknown
3           Unknown
4           Unknown
            ...
477799    300185335
477800    300185335
477801      Unknown
477802    300185335
477803    300185335
Name: Tags AAT, Length: 477804, dtype: object

##### Tags AAT URL: just keep AAT number since the URL is the same

In [17]:
met_cleaned['Tags Wikidata URL']

0                                           NaN
1                                           NaN
2                                           NaN
3                                           NaN
4                                           NaN
                          ...
477799    https://www.wikidata.org/wiki/Q235356
477800    https://www.wikidata.org/wiki/Q235356
477801                                      NaN
477802    https://www.wikidata.org/wiki/Q235356
477803    https://www.wikidata.org/wiki/Q235356
Name: Tags Wikidata URL, Length: 477804, dtype: object

In [18]:
# Fill empty rows with Unknown
met_cleaned['Tags Wikidata URL'] = met_cleaned['Tags Wikidata URL'].fillna('Unknown')

# Split out URL and only keep the last node
met_cleaned['Tags Wikidata'] = met_cleaned['Tags Wikidata URL'].apply(lambda x: x.split('/')[-1])  

# Drop the original column
met_cleaned.drop(['Tags Wikidata URL'], axis = 1, inplace = True)

# Check
met_cleaned['Tags Wikidata']

0         Unknown
1         Unknown
2         Unknown
3         Unknown
4         Unknown
           ...
477799    Q235356
477800    Q235356
477801    Unknown
477802    Q235356
477803    Q235356
Name: Tags Wikidata, Length: 477804, dtype: object

In [19]:
met_cleaned.head()

,Object Number,Is Highlight,Is Timeline Work,Is Public Domain,Object ID,Gallery Number,Department,AccessionYear,Object Name,Title,...,Excavation,River,Classification,Rights and Reproduction,Repository,Tags,Link Resource Num,Object Wiki,Tags AAT,Tags Wikidata
0,1979.486.1,False,False,False,1,NaN,The American Wing,1979.0,Coin,One-dollar Liberty Head Coin,...,NaN,NaN,NaN,NaN,"Metropolitan Museum of Art, New York, NY",NaN,1,Unknown,Unknown,Unknown
1,1980.264.5,False,False,False,2,NaN,The American Wing,1980.0,Coin,Ten-dollar Liberty Head Coin,...,NaN,NaN,NaN,NaN,"Metropolitan Museum of Art, New York, NY",NaN,2,Unknown,Unknown,Unknown
2,67.265.9,False,False,False,3,NaN,The American Wing,1967.0,Coin,Two-and-a-Half Dollar Coin,...,NaN,NaN,NaN,NaN,"Metropolitan Museum of Art, New York, NY",NaN,3,Unknown,Unknown,Unknown
3,67.265.10,False,False,False,4,NaN,The American Wing,1967.0,Coin,Two-and-a-Half Dollar Coin,...,NaN,NaN,NaN,NaN,"Metropolitan Museum of Art, New York, NY",NaN,4,Unknown,Unknown,Unknown
4,67.265.11,False,False,False,5,NaN,The American Wing,1967.0,Coin,Two-and-a-Half Dollar Coin,...,NaN,NaN,NaN,NaN,"Metropolitan Museum of Art, New York, NY",NaN,5,Unknown,Unknown,Unknown

In [20]:
met_cleaned.shape

(477804, 53)

### Chapter 8

#### Create Hierarchical index: Department / Object Name

In [21]:
# Set index to Department then Object Name
met_indexed = met_cleaned.set_index(['Department', 'Object Name'])
met_indexed.sort_index()
met_indexed.head()

                              Object Number  Is Highlight  Is Timeline Work  \
Department        Object Name
The American Wing Coin           1979.486.1         False             False
                  Coin           1980.264.5         False             False
                  Coin             67.265.9         False             False
                  Coin            67.265.10         False             False
                  Coin            67.265.11         False             False

                               Is Public Domain  Object ID Gallery Number  \
Department        Object Name
The American Wing Coin                    False          1            NaN
                  Coin                    False          2            NaN
                  Coin                    False          3            NaN
                  Coin                    False          4            NaN
                  Coin                    False          5            NaN

                              AccessionYear                         Title  \
Department        Object Name
The American Wing Coin               1979.0  One-dollar Liberty Head Coin
                  Coin               1980.0  Ten-dollar Liberty Head Coin
                  Coin               1967.0    Two-and-a-Half Dollar Coin
                  Coin               1967.0    Two-and-a-Half Dollar Coin
                  Coin               1967.0    Two-and-a-Half Dollar Coin

                              Culture Period  ... Excavation River  \
Department        Object Name                 ...
The American Wing Coin            NaN    NaN  ...        NaN   NaN
                  Coin            NaN    NaN  ...        NaN   NaN
                  Coin            NaN    NaN  ...        NaN   NaN
                  Coin            NaN    NaN  ...        NaN   NaN
                  Coin            NaN    NaN  ...        NaN   NaN

                              Classification Rights and Reproduction  \
Department        Object Name
The American Wing Coin                   NaN                     NaN
                  Coin                   NaN                     NaN
                  Coin                   NaN                     NaN
                  Coin                   NaN                     NaN
                  Coin                   NaN                     NaN

                                                             Repository Tags  \
Department        Object Name
The American Wing Coin         Metropolitan Museum of Art, New York, NY  NaN
                  Coin         Metropolitan Museum of Art, New York, NY  NaN
                  Coin         Metropolitan Museum of Art, New York, NY  NaN
                  Coin         Metropolitan Museum of Art, New York, NY  NaN
                  Coin         Metropolitan Museum of Art, New York, NY  NaN

                              Link Resource Num Object Wiki Tags AAT  \
Department        Object Name
The American Wing Coin                        1     Unknown  Unknown
                  Coin                        2     Unknown  Unknown
                  Coin                        3     Unknown  Unknown
                  Coin                        4     Unknown  Unknown
                  Coin                        5     Unknown  Unknown

                              Tags Wikidata
Department        Object Name
The American Wing Coin              Unknown
                  Coin              Unknown
                  Coin              Unknown
                  Coin              Unknown
                  Coin              Unknown

[5 rows x 51 columns]

#### Combine and Merge datasets

In [22]:
# Split dataframe into different Department Dataframes (for merging)
unique_departments = met_cleaned['Department'].unique().tolist()
unique_departments

['The American Wing',
 'European Sculpture and Decorative Arts',
 'Modern and Contemporary Art',
 'Arms and Armor',
 'Medieval Art',
 'Asian Art',
 'Islamic Art',
 'Costume Institute',
 'Arts of Africa, Oceania, and the Americas',
 'Drawings and Prints',
 'Greek and Roman Art',
 'Photographs',
 'Ancient Near Eastern Art',
 'Egyptian Art',
 'European Paintings',
 'Robert Lehman Collection',
 'The Cloisters',
 'Musical Instruments',
 'The Libraries']

In [23]:
# Create separate dataframes based on Unique Departments (just use 2)
american_wing = met_cleaned[met_cleaned['Department'] == 'The American Wing']
modern_contemporary = met_cleaned[met_cleaned['Department'] == 'Modern and Contemporary Art']

In [24]:
american_modern = pd.merge(american_wing, modern_contemporary, how = 'outer')
american_modern.head()

C:\Users\Osgiliath\anaconda3\lib\site-packages\pandas\core\reshape\merge.py:916: FutureWarning: In a future version, the Index constructor will not infer numeric dtypes when passed object-dtype sequences (matching Series behavior)
  key_col = Index(lvals).where(~mask_left, rvals)

,Object Number,Is Highlight,Is Timeline Work,Is Public Domain,Object ID,Gallery Number,Department,AccessionYear,Object Name,Title,...,Excavation,River,Classification,Rights and Reproduction,Repository,Tags,Link Resource Num,Object Wiki,Tags AAT,Tags Wikidata
0,1979.486.1,False,False,False,1,NaN,The American Wing,1979.0,Coin,One-dollar Liberty Head Coin,...,NaN,NaN,NaN,NaN,"Metropolitan Museum of Art, New York, NY",NaN,1,Unknown,Unknown,Unknown
1,1980.264.5,False,False,False,2,NaN,The American Wing,1980.0,Coin,Ten-dollar Liberty Head Coin,...,NaN,NaN,NaN,NaN,"Metropolitan Museum of Art, New York, NY",NaN,2,Unknown,Unknown,Unknown
2,67.265.9,False,False,False,3,NaN,The American Wing,1967.0,Coin,Two-and-a-Half Dollar Coin,...,NaN,NaN,NaN,NaN,"Metropolitan Museum of Art, New York, NY",NaN,3,Unknown,Unknown,Unknown
3,67.265.10,False,False,False,4,NaN,The American Wing,1967.0,Coin,Two-and-a-Half Dollar Coin,...,NaN,NaN,NaN,NaN,"Metropolitan Museum of Art, New York, NY",NaN,4,Unknown,Unknown,Unknown
4,67.265.11,False,False,False,5,NaN,The American Wing,1967.0,Coin,Two-and-a-Half Dollar Coin,...,NaN,NaN,NaN,NaN,"Metropolitan Museum of Art, New York, NY",NaN,5,Unknown,Unknown,Unknown

### Chapter 10

#### Grouping with Functions

In [25]:
# group by department and get counts for each
met_cleaned.groupby('Department')['Object Name'].count()

Department
Ancient Near Eastern Art                       6198
Arms and Armor                                13611
Arts of Africa, Oceania, and the Americas     12333
Asian Art                                     36756
Costume Institute                             31412
Drawings and Prints                          166801
Egyptian Art                                  27922
European Paintings                             2611
European Sculpture and Decorative Arts        42933
Greek and Roman Art                           33715
Islamic Art                                   15473
Medieval Art                                   7146
Modern and Contemporary Art                   14075
Musical Instruments                            5209
Photographs                                   36587
Robert Lehman Collection                       2585
The American Wing                             18411
The Cloisters                                  2335
The Libraries                                     0
Name: Object Name, dtype: int64

#### Cross Tabs

In [26]:
# See how many ojects are in each department
pd.crosstab(met_cleaned['Department'], met_cleaned['Object Name'],  margins = True)

Object Name,"""Autophone"" Organette","""Basso""","""Chanot Model"" Violin","""Humantone"" Nose Flute","""Japanese Fiddle""","""Komo"" Trumpet","""Ladies in Blue"" Fresco","""Musical Ball"" (""Return Ball"")","""New Year's Bottle"" with cow goddess Nebethetepet","""Persian"" Sitar",...,Ğičak (Ghichak),Śahanāī,Śankh,Śaṅkh,Śrnga,Ūd,Ūd (converted to mandora),Ṣanāṣel (sistrum),Ṭāśā,All
Department,,,,,,,,,,,,,,,,,,,,,
Ancient Near Eastern Art,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,6198
Arms and Armor,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,13611
"Arts of Africa, Oceania, and the Americas",0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,12333
Asian Art,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,36756
Costume Institute,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,31412
Drawings and Prints,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,166801
Egyptian Art,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,27922
European Paintings,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2611
European Sculpture and Decorative Arts,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,42933
Greek and Roman Art,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,33715
Islamic Art,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,15473
Medieval Art,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,7146
Modern and Contemporary Art,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,14075
Musical Instruments,1,1,1,1,1,1,0,1,0,1,...,1,1,1,1,1,8,1,1,1,5209
Photographs,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,36587
Robert Lehman Collection,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2585
The American Wing,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,18411
The Cloisters,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2335
All,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,8,1,1,1,476113

### Chapter 11

#### Convert Object Begin and End Date to date types

In [27]:
met_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 477804 entries, 0 to 477803
Data columns (total 53 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   Object Number            477804 non-null  object
 1   Is Highlight             477804 non-null  bool
 2   Is Timeline Work         477804 non-null  bool
 3   Is Public Domain         477804 non-null  bool
 4   Object ID                477804 non-null  int64
 5   Gallery Number           51776 non-null   object
 6   Department               477804 non-null  object
 7   AccessionYear            474248 non-null  object
 8   Object Name              476113 non-null  object
 9   Title                    448619 non-null  object
 10  Culture                  207379 non-null  object
 11  Period                   90956 non-null   object
 12  Dynasty                  23233 non-null   object
 13  Reign                    11226 non-null   object
 14  Portfolio                23530 non-null   object
 15  Constituent ID           275535 non-null  object
 16  Artist Role              273436 non-null  object
 17  Artist Prefix            275535 non-null  object
 18  Artist Display Name      275535 non-null  object
 19  Artist Display Bio       273436 non-null  object
 20  Artist Suffix            275487 non-null  object
 21  Artist Alpha Sort        275535 non-null  object
 22  Artist Nationality       275535 non-null  object
 23  Artist Begin Date        275535 non-null  object
 24  Artist End Date          275535 non-null  object
 25  Artist Gender            103061 non-null  object
 26  Artist ULAN URL          222021 non-null  object
 27  Artist Wikidata URL      217732 non-null  object
 28  Object Date              463937 non-null  object
 29  Object Begin Date        477804 non-null  int64
 30  Object End Date          477804 non-null  int64
 31  Medium                   470684 non-null  object
 32  Dimensions               402510 non-null  object
 33  Credit Line              477353 non-null  object
 34  Geography Type           59769 non-null   object
 35  City                     32407 non-null   object
 36  State                    2550 non-null    object
 37  County                   8450 non-null    object
 38  Country                  75751 non-null   object
 39  Region                   31360 non-null   object
 40  Subregion                22124 non-null   object
 41  Locale                   15709 non-null   object
 42  Locus                    7493 non-null    object
 43  Excavation               16558 non-null   object
 44  River                    2095 non-null    object
 45  Classification           399598 non-null  object
 46  Rights and Reproduction  24198 non-null   object
 47  Repository               477804 non-null  object
 48  Tags                     200400 non-null  object
 49  Link Resource Num        477804 non-null  object
 50  Object Wiki              477804 non-null  object
 51  Tags AAT                 477804 non-null  object
 52  Tags Wikidata            477804 non-null  object
dtypes: bool(3), int64(3), object(47)
memory usage: 183.6+ MB

In [28]:
met_cleaned.isnull().sum()

Object Number                   0
Is Highlight                    0
Is Timeline Work                0
Is Public Domain                0
Object ID                       0
Gallery Number             426028
Department                      0
AccessionYear                3556
Object Name                  1691
Title                       29185
Culture                    270425
Period                     386848
Dynasty                    454571
Reign                      466578
Portfolio                  454274
Constituent ID             202269
Artist Role                204368
Artist Prefix              202269
Artist Display Name        202269
Artist Display Bio         204368
Artist Suffix              202317
Artist Alpha Sort          202269
Artist Nationality         202269
Artist Begin Date          202269
Artist End Date            202269
Artist Gender              374743
Artist ULAN URL            255783
Artist Wikidata URL        260072
Object Date                 13867
Object Begin Date               0
Object End Date                 0
Medium                       7120
Dimensions                  75294
Credit Line                   451
Geography Type             418035
City                       445397
State                      475254
County                     469354
Country                    402053
Region                     446444
Subregion                  455680
Locale                     462095
Locus                      470311
Excavation                 461246
River                      475709
Classification              78206
Rights and Reproduction    453606
Repository                      0
Tags                       277404
Link Resource Num               0
Object Wiki                     0
Tags AAT                        0
Tags Wikidata                   0
dtype: int64

In [29]:
met_cleaned['Object Start Date'] = pd.to_datetime(met_cleaned['Object Begin Date'])
met_cleaned['Object Complete Date'] = pd.to_datetime(met_cleaned['Object End Date'])
met_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 477804 entries, 0 to 477803
Data columns (total 55 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   Object Number            477804 non-null  object
 1   Is Highlight             477804 non-null  bool
 2   Is Timeline Work         477804 non-null  bool
 3   Is Public Domain         477804 non-null  bool
 4   Object ID                477804 non-null  int64
 5   Gallery Number           51776 non-null   object
 6   Department               477804 non-null  object
 7   AccessionYear            474248 non-null  object
 8   Object Name              476113 non-null  object
 9   Title                    448619 non-null  object
 10  Culture                  207379 non-null  object
 11  Period                   90956 non-null   object
 12  Dynasty                  23233 non-null   object
 13  Reign                    11226 non-null   object
 14  Portfolio                23530 non-null   object
 15  Constituent ID           275535 non-null  object
 16  Artist Role              273436 non-null  object
 17  Artist Prefix            275535 non-null  object
 18  Artist Display Name      275535 non-null  object
 19  Artist Display Bio       273436 non-null  object
 20  Artist Suffix            275487 non-null  object
 21  Artist Alpha Sort        275535 non-null  object
 22  Artist Nationality       275535 non-null  object
 23  Artist Begin Date        275535 non-null  object
 24  Artist End Date          275535 non-null  object
 25  Artist Gender            103061 non-null  object
 26  Artist ULAN URL          222021 non-null  object
 27  Artist Wikidata URL      217732 non-null  object
 28  Object Date              463937 non-null  object
 29  Object Begin Date        477804 non-null  int64
 30  Object End Date          477804 non-null  int64
 31  Medium                   470684 non-null  object
 32  Dimensions               402510 non-null  object
 33  Credit Line              477353 non-null  object
 34  Geography Type           59769 non-null   object
 35  City                     32407 non-null   object
 36  State                    2550 non-null    object
 37  County                   8450 non-null    object
 38  Country                  75751 non-null   object
 39  Region                   31360 non-null   object
 40  Subregion                22124 non-null   object
 41  Locale                   15709 non-null   object
 42  Locus                    7493 non-null    object
 43  Excavation               16558 non-null   object
 44  River                    2095 non-null    object
 45  Classification           399598 non-null  object
 46  Rights and Reproduction  24198 non-null   object
 47  Repository               477804 non-null  object
 48  Tags                     200400 non-null  object
 49  Link Resource Num        477804 non-null  object
 50  Object Wiki              477804 non-null  object
 51  Tags AAT                 477804 non-null  object
 52  Tags Wikidata            477804 non-null  object
 53  Object Start Date        477804 non-null  datetime64[ns]
 54  Object Complete Date     477804 non-null  datetime64[ns]
dtypes: bool(3), datetime64[ns](2), int64(3), object(47)
memory usage: 190.9+ MB

#### Generate Date Range

In [39]:
def create_range(row):
    begin = row.strftime('%Y-%m-%d')
    
    range = pd.date_range(begin, periods = 4)   
    return range

met_cleaned['range'] = met_cleaned['Object Start Date'].apply(lambda row: create_range(row))
met_cleaned.head()

,Object Number,Is Highlight,Is Timeline Work,Is Public Domain,Object ID,Gallery Number,Department,AccessionYear,Object Name,Title,...,Rights and Reproduction,Repository,Tags,Link Resource Num,Object Wiki,Tags AAT,Tags Wikidata,Object Start Date,Object Complete Date,range
0,1979.486.1,False,False,False,1,NaN,The American Wing,1979.0,Coin,One-dollar Liberty Head Coin,...,NaN,"Metropolitan Museum of Art, New York, NY",NaN,1,Unknown,Unknown,Unknown,1970-01-01 00:00:00.000001853,1970-01-01 00:00:00.000001853,"DatetimeIndex(['1970-01-01', '1970-01-02', '1970-01-03', '1970-01-04'], dtype='datetime64[ns]', freq='D')"
1,1980.264.5,False,False,False,2,NaN,The American Wing,1980.0,Coin,Ten-dollar Liberty Head Coin,...,NaN,"Metropolitan Museum of Art, New York, NY",NaN,2,Unknown,Unknown,Unknown,1970-01-01 00:00:00.000001901,1970-01-01 00:00:00.000001901,"DatetimeIndex(['1970-01-01', '1970-01-02', '1970-01-03', '1970-01-04'], dtype='datetime64[ns]', freq='D')"
2,67.265.9,False,False,False,3,NaN,The American Wing,1967.0,Coin,Two-and-a-Half Dollar Coin,...,NaN,"Metropolitan Museum of Art, New York, NY",NaN,3,Unknown,Unknown,Unknown,1970-01-01 00:00:00.000001909,1970-01-01 00:00:00.000001927,"DatetimeIndex(['1970-01-01', '1970-01-02', '1970-01-03', '1970-01-04'], dtype='datetime64[ns]', freq='D')"
3,67.265.10,False,False,False,4,NaN,The American Wing,1967.0,Coin,Two-and-a-Half Dollar Coin,...,NaN,"Metropolitan Museum of Art, New York, NY",NaN,4,Unknown,Unknown,Unknown,1970-01-01 00:00:00.000001909,1970-01-01 00:00:00.000001927,"DatetimeIndex(['1970-01-01', '1970-01-02', '1970-01-03', '1970-01-04'], dtype='datetime64[ns]', freq='D')"
4,67.265.11,False,False,False,5,NaN,The American Wing,1967.0,Coin,Two-and-a-Half Dollar Coin,...,NaN,"Metropolitan Museum of Art, New York, NY",NaN,5,Unknown,Unknown,Unknown,1970-01-01 00:00:00.000001909,1970-01-01 00:00:00.000001927,"DatetimeIndex(['1970-01-01', '1970-01-02', '1970-01-03', '1970-01-04'], dtype='datetime64[ns]', freq='D')"